/* Custom Styles for Monarch Manager Extension */

body {
  min-width: 400px;
  min-height: 300px;
  border: 1px solid #ccc;
  margin: 3px;
}

.icon-minus {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../icons/minus-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .icon-plus {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../icons/plus-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .icon-trash {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../icons/trash-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .icon-edit {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../icons/pen-to-square-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  